body {
	background: #fff;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	display: block;
	font-size: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight: "";
}

.menu ul li {
	list-style-type: none;
	width: 30%;
	color: #fff;
	letter-spacing: 0.1rem;
	transition: all 0.3s linear;
	font-size: 1.25rem;
	z-index: 100;
}

.menu ul {
	list-style-type: none;
	padding: 0;
	padding-inline-start: 0;
}

.menu_block {
	width: 78.20855614973262%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	z-index: 100;
}

.menu ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: center;
}

.width_30 {
	width: 30%;
}

.logo_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

}

.basket {
	position: relative;
}

.basket img {
	position: absolute;
	right: 0;
}

.basket_summ_items {
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 50%;
	background-color: hsl(21, 62%, 45%);
	text-align: center;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.basket_summ_items div {
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
}

.main_block {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background_img/main-bcg.jpeg') no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-position: center;
	display: flex;
	align-items: center;
	margin-top: -78px;
	flex-direction: column;

}

.main_block_h1 {
	font-size: 5.25rem;
	letter-spacing: 5px;
	font-weight: 700;
	font-family: 'Kaushan Script', cursive;
	line-height: 1;
	color: #fff;
}

a {
	color: #fff;
}

.text_main_block {
	width: 90%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: left;
	justify-content: center;
	letter-spacing: 1;
	z-index: 0;

}

.text_main_block h2 {
	font-size: 2.75rem;
	margin: 1.5rem 0;
	letter-spacing: 0.1rem;
	color: #fff;
}

.main_block_button {
	width: 117px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	padding: 0.5rem 0.75rem;
	display: inline-block;
	margin-top: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	border-radius: 0.25rem;
	transition: all 0.3s linear;
}

.main_block_button:hover {
	background: #fff;
	color: hsl(21, 62%, 45%);
}

.featured {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	line-height: 1;
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}

.catalog_block {
	display: flex;
	max-width: 1170px;
	width: 90vw;
}

.home_background_featured {
	width: 100%;
	height: 13rem;
	background-repeat: no-repeat;
	position: relative;
	box-sizing: border-box;
	object-fit: cover;
	background-size: cover;
}

.menu_main_block {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.catalog_block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 3rem auto 2rem auto;
	gap: 1rem;
	min-height: 6rem;
	position: relative;

}

.product_featured_name {
	margin-bottom: 0.25rem;
	text-transform: capitalize;
	letter-spacing: 0.1rem;
	color: hsl(210, 22%, 49%);
	text-align: center;

}

.product_featured_price {
	text-align: center;
	margin-bottom: 0;
	color: hsl(209, 34%, 30%);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1rem;
	text-transform: capitalize;

}

.catalog_block_button {
	display: block;
	width: 11rem;
	margin: 0 auto;
	text-align: center;
	background: hsl(21, 62%, 45%);
	color: #fff;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: inline-block;
	transition: all 0.3s linear;
	border-color: transparent;
	cursor: pointer;
}

.catalog_block_button:hover {
	background: hsl(21, 65%, 59%);
	color: #222;
}

.linksProducts {
	display: flex;
}

a {
	color: #fff;
	text-decoration: none;
}

.menu ul li a:hover {
	transition: 1s;
	color: hsl(21, 62%, 45%);
}

.basket_and_loupe {
	color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.main_catalog_block ul li {
	text-decoration: none;
}

.main_catalog_block {
	display: flex;
	flex-direction: column;
}

.basket_tap {
	margin-left: 5px;
	width: 32px;
	height: 32px;
	background: none;
	border: none;
}

.basket_and_loupe:hover .basket_tap {
	color: #fff;
	content: "&#xF52A";
	width: 32px;
	height: 32px;
	background-color: hsl(21, 62%, 45%);
	background-size: contain;
	border-radius: 50%;
	border: none;
}

.basket_fixed {
	right: 0;
	background: none;
	border: none;
	color: #fff;
	content: "&#xF52A";
	width: 100%;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: end;
	justify-content: flex-end;
}

.bi-cart3 {
	display: none;
}

.bi-cart4 {
	display: flex;
	cursor: pointer;
	color: #fff;
	font-weight: 800px;
	font-size: 40px;
}

.basket_and_loupe:hover .bi-cart3 {
	display: block;
	color: #fff;
	font-weight: 500px;
	font-size: 20px;
}

.loupe {
	margin-right: 5px;
	width: 32px;
	height: 32px;
	background: none;
	border: none;
}

.basket_and_loupe:hover .loupe {
	color: #fff;
	content: "&#xF52A";
	width: 32px;
	height: 32px;
	background-color: hsl(21, 62%, 45%);
	background-size: contain;
	border-radius: 50%;
	border: none;
}

.bi-search {
	display: none;
}

.basket_and_loupe:hover .bi-search {
	display: block;
	font-weight: 500px;
	font-size: 20px;
}

.breadCrumbs {
	min-height: 20vh;
	display: flex;
	place-items: center;
	background: hsl(210, 36%, 96%);
	color: hsl(210, 22%, 49%);
	justify-content: center;
}

#breadCrumbs {
	width: 90%;
	font-size: 1.75rem;
	text-transform: capitalize;
}

.cardItem {
	display: flex;
	justify-content: center;
}

.block_cardItem {
	width: 90%;
	max-width: 1170px;
	display: grid;
	gap: 1rem 2rem;
	grid-template-columns: 1fr 1fr;
}

.img_product_cart_loupe img {
	height: 25rem;
	border-radius: 0.25rem;
	object-fit: cover;
	width: 100%;
	display: block;
}

.colorElem {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border-radius: 50%;

}

.colorFlex {
	display: flex;
}

.prise_loupe {
	color: hsl(209, 34%, 30%);
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1.25rem;
}

.company_loupe {
	font-size: 1.2rem;
	color: hsl(210, 31%, 80%);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-bottom: 1.25rem;
	font-family: 'Kaushan Script', cursive;
}

.title_loupe {
	line-height: 1;
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-weight: 400;
}

.description_loupe {
	max-width: 25em;
	line-height: 1.8;
	margin-bottom: 1.25rem;
	color: hsl(210, 22%, 49%);
}

.basket_tap_loupe {
	background: hsl(21, 62%, 45%);
	color: #fff;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: inline-block;
	transition: all 0.3s linear;
	border-color: transparent;
	cursor: pointer;
}

.basket_tap_loupe:hover {
	background: hsl(21, 65%, 59%);
	color: #222;
}

.black_li_menu {
	color: #222;
}

.menu_display_flex {
	display: flex;
	justify-content: center;
}

.block_products {
	margin-top: 64px;
	margin-bottom: 64px;
	display: flex;
	width: 90%;
	max-width: 1170px;
	justify-content: center;
}

#text_input {
	padding: 0.5rem;
	background: hsl(210, 36%, 96%);
	border-radius: 0.25rem;
	border-color: transparent;
	letter-spacing: 0.1rem;
	text-transform: capitalize;
}

.title_products {
	font-weight: 500;
	margin: 1.5rem 0 0.5rem;
	line-height: 1;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-transform: capitalize;
}

.ul_products li {
	list-style: none;
	cursor: pointer;
	display: block;
	margin: 0.25em 0;
	padding: 0.25rem;
	text-transform: capitalize;
	background: transparent;
	border-color: transparent;
	letter-spacing: 0.1rem;
	color: hsl(210, 22%, 49%);
	cursor: pointer;
	transition: all 0.3s linear;
}

.ul_products li:hover {
	color: hsl(209, 28%, 39%);
}

.value_price_input {
	margin-bottom: 1.25rem;
	color: hsl(210, 22%, 49%);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sidebar {
	position: sticky;
	top: 1rem;
	margin-right: 50px;
}

.block_products_flex {
	display: flex;
	justify-content: center;
}



.basket_close {
	transition: all 0.3s linear;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 400px;
	background: hsl(210, 36%, 96%);
	padding: 3rem 1rem 0 1rem;
	display: grid;
	grid-template-rows: auto 1fr auto;

	transform: translateX(100%);

	overflow: scroll;
	z-index: 1000;
}

.basket_open {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 400px;
	background: hsl(210, 36%, 96%);
	padding: 0rem 1rem 0 1rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	transition: all 0.3s linear;
	overflow: scroll;
	z-index: 1000;
}

.display_flex_basket_product{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
.img_elem_basket_product img{
    width: 75px;
    height: 50px;
    object-fit: cover;
    border-radius: 0.25rem;
}
.title_elem_basket_product{
    margin-bottom: 0.15rem;
    line-height: 1;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    font-weight: 400;
}

.price_elem_basket_product {margin-bottom: 0;
    font-size: 0.75rem;
    color: var(--clr-grey-3);
    margin-top:0;
}
.button_elem_basket_product{
    background: transparent;
    border-color: transparent;
    color: hsl(210, 22%, 49%);
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.bi-caret-up {
    background: transparent;
    border-color: transparent;
    color: hsl(21, 62%, 45%);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
}
.bi-caret-down{
    background: transparent;
    border-color: transparent;
    color: hsl(21, 62%, 45%);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
}
.quantity_plus{
    border: none;
    background: none;
}
.quantity_minus{
    border: none;
    background: none;
}
.quantity_text_basket_product {
    margin: 0;
    text-align: center;
    color: hsl(209, 34%, 30%);
    line-height: 1;
}
.close_basket{
    padding-top:15px ;
    font-size: 40px;
    font-weight: 900;
    line-height: 20%;
}
.title_basket{
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    line-height: 1;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    text-align: center;
}
.basket_block_main{
    display: flex;
    flex-direction: column;

}
._prise_basket{
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    line-height: 1;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
}
.basket_checkout{
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
    background: hsl(21, 62%, 45%);
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
    border-color: transparent;
    cursor: pointer;
}
.basket_checkout:hover{
    color: #222;
    background: hsl(21, 65%, 59%);
}